In [1]:
#install packages
import pandas as pd
import numpy as np
import json
import requests
from io import StringIO
from azure.storage.blob import BlobServiceClient, BlobClient, ContainerClient

In [2]:
#URLs for each borough's Excel file

URL_manhattan = "https://www.nyc.gov/assets/finance/downloads/pdf/rolling_sales/rollingsales_manhattan.xlsx"
URL_bronx = "https://www.nyc.gov/assets/finance/downloads/pdf/rolling_sales/rollingsales_bronx.xlsx"
URL_brooklyn = "https://www.nyc.gov/assets/finance/downloads/pdf/rolling_sales/rollingsales_brooklyn.xlsx"
URL_queens = "https://www.nyc.gov/assets/finance/downloads/pdf/rolling_sales/rollingsales_queens.xlsx"
URL_statenisland = "https://www.nyc.gov/assets/finance/downloads/pdf/rolling_sales/rollingsales_statenisland.xlsx"

# Loading each Excel file into a separate dataframe
df_manhattan = pd.read_excel(URL_manhattan)
df_bronx = pd.read_excel(URL_bronx)
df_brooklyn = pd.read_excel(URL_brooklyn)
df_queens = pd.read_excel(URL_queens)
df_statenisland = pd.read_excel(URL_statenisland)

# Display information about each dataframe
print("Manhattan DataFrame Info:")
print(df_manhattan.info())
print(df_manhattan.head())

print("Bronx DataFrame Info:")
print(df_bronx.info())
print(df_bronx.head())

print("Brooklyn DataFrame Info:")
print(df_brooklyn.info())
print(df_brooklyn.head())

print("Queens DataFrame Info:")
print(df_queens.info())
print(df_queens.head())

print("Staten Island DataFrame Info:")
print(df_statenisland.info())
print(df_statenisland.head())

Manhattan DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16381 entries, 0 to 16380
Data columns (total 21 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Manhattan Rolling Sales.  All Sales From April 2023 - March 2024  16381 non-null  object
 1   Unnamed: 1                                                        16378 non-null  object
 2   Unnamed: 2                                                        16378 non-null  object
 3   Unnamed: 3                                                        16378 non-null  object
 4   Unnamed: 4                                                        16378 non-null  object
 5   Unnamed: 5                                                        16378 non-null  object
 6   Unnamed: 6                                                        1 non-null      object
 7   Unnamed: 7                                                        16378 non-null  object
 8   Unnamed: 8                                                        16378 non-null  object
 9   Unnamed: 9                                                        7272 non-null   object
 10  Unnamed: 10                                                       16378 non-null  object
 11  Unnamed: 11                                                       8201 non-null   object
 12  Unnamed: 12                                                       2172 non-null   object
 13  Unnamed: 13                                                       8836 non-null   object
 14  Unnamed: 14                                                       1537 non-null   object
 15  Unnamed: 15                                                       1537 non-null   object
 16  Unnamed: 16                                                       14690 non-null  object
 17  Unnamed: 17                                                       16378 non-null  object
 18  Unnamed: 18                                                       16378 non-null  object
 19  PTS Sales Data as of 04/12/2024                                   16378 non-null  object
 20  Unnamed: 20                                                       16378 non-null  object
dtypes: object(21)
memory usage: 2.6+ MB
None
  Manhattan Rolling Sales.  All Sales From April 2023 - March 2024  \
0  For sales prior to the Final Roll, Neighborhoo...
1  Building Class Category is based on Building C...
2  Note: Condominium and cooperative sales are on...
3                                            BOROUGH
4                                                  1

      Unnamed: 1               Unnamed: 2            Unnamed: 3 Unnamed: 4  \
0            NaN                      NaN                   NaN        NaN
1            NaN                      NaN                   NaN        NaN
2            NaN                      NaN                   NaN        NaN
3   NEIGHBORHOOD  BUILDING CLASS CATEGORY  TAX CLASS AT PRESENT      BLOCK
4  ALPHABET CITY  02 TWO FAMILY DWELLINGS                     1        386

  Unnamed: 5 Unnamed: 6                 Unnamed: 7   Unnamed: 8  \
0        NaN        NaN                        NaN          NaN
1        NaN        NaN                        NaN          NaN
2        NaN        NaN                        NaN          NaN
3        LOT   EASEMENT  BUILDING CLASS AT PRESENT      ADDRESS
4          7        NaN                         S2  49 AVENUE B

         Unnamed: 9  ...        Unnamed: 11       Unnamed: 12  Unnamed: 13  \
0               NaN  ...                NaN               NaN          NaN
1               NaN  ...                NaN               NaN          NaN
2               NaN  ...                NaN               NaN          NaN
3  APARTMENT NUMBER  ...  RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS
4               NaN  ...                  2                 1            3

        Unnamed: 14        Unnamed: 15 Unnamed: 16                Unnamed: 17  \
0               NaN                NaN         NaN                        NaN
1               NaN                NaN         NaN                        NaN
2               NaN                NaN         NaN                        NaN
3  LAND SQUARE FEET  GROSS SQUARE FEET  YEAR BUILT  TAX CLASS AT TIME OF SALE
4              1725               2304        1880                          1

                      Unnamed: 18 PTS Sales Data as of 04/12/2024  \
0                             NaN                             NaN
1                             NaN                             NaN
2                             NaN                             NaN
3  BUILDING CLASS AT TIME OF SALE                      SALE PRICE
4                              S2                               0

           Unnamed: 20
0                  NaN
1                  NaN
2                  NaN
3            SALE DATE
4  2023-11-02 00:00:00

[5 rows x 21 columns]
Bronx DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5693 entries, 0 to 5692
Data columns (total 21 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Bronx Rolling Sales.  All Sales From April 2023 - March 2024  5693 non-null   object
 1   Unnamed: 1                                                    5690 non-null   object
 2   Unnamed: 2                                                    5690 non-null   object
 3   Unnamed: 3                                                    5690 non-null   object
 4   Unnamed: 4                                                    5690 non-null   object
 5   Unnamed: 5                                                    5690 non-null   object
 6   Unnamed: 6                                                    1 non-null      object
 7   Unnamed: 7                                                    5690 non-null   object
 8   Unnamed: 8                                                    5690 non-null   object
 9   Unnamed: 9                                                    521 non-null    object
 10  Unnamed: 10                                                   5690 non-null   object
 11  Unnamed: 11                                                   4666 non-null   object
 12  Unnamed: 12                                                   4200 non-null   object
 13  Unnamed: 13                                                   4698 non-null   object
 14  Unnamed: 14                                                   4168 non-null   object
 15  Unnamed: 15                                                   4168 non-null   object
 16  Unnamed: 16                                                   5115 non-null   object
 17  Unnamed: 17                                                   5690 non-null   object
 18  Unnamed: 18                                                   5690 non-null   object
 19  PTS Sales Data as of 04/12/2024                               5690 non-null   object
 20  Unnamed: 20                                                   5690 non-null   object
dtypes: object(21)
memory usage: 934.1+ KB
None
  Bronx Rolling Sales.  All Sales From April 2023 - March 2024    Unnamed: 1  \
0  For sales prior to the Final Roll, Neighborhoo...                     NaN
1  Building Class Category is based on Building C...                     NaN
2  Note: Condominium and cooperative sales are on...                     NaN
3                                            BOROUGH            NEIGHBORHOOD
4                                                  2                BATHGATE

                Unnamed: 2            Unnamed: 3 Unnamed: 4 Unnamed: 5  \
0                      NaN                   NaN        NaN        NaN
1                      NaN                   NaN        NaN        NaN
2                      NaN                   NaN        NaN        NaN
3  BUILDING CLASS CATEGORY  TAX CLASS AT PRESENT      BLOCK        LOT
4  01 ONE FAMILY DWELLINGS                     1       3030         66

  Unnamed: 6                 Unnamed: 7        Unnamed: 8        Unnamed: 9  \
0        NaN                        NaN               NaN               NaN
1        NaN                        NaN               NaN               NaN
2        NaN                        NaN               NaN               NaN
3   EASEMENT  BUILDING CLASS AT PRESENT           ADDRESS  APARTMENT NUMBER
4        NaN                         A1  4453 PARK AVENUE               NaN

   ...        Unnamed: 11       Unnamed: 12  Unnamed: 13       Unnamed: 14  \
0  ...                NaN               NaN          NaN               NaN
1  ...                NaN               NaN          NaN               NaN
2  ...                NaN               NaN          NaN               NaN
3  ...  RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET
4  ...                  1                 0            1              1646

         Unnamed: 15 Unnamed: 16                Unnamed: 17  \
0                NaN         NaN                        NaN
1                NaN         NaN                        NaN
2                NaN         NaN                        NaN
3  GROSS SQUARE FEET  YEAR BUILT  TAX CLASS AT TIME OF SALE
4               1497        1899                          1

                      Unnamed: 18 PTS Sales Data as of 04/12/2024  \
0                             NaN                             NaN
1                             NaN                             NaN
2                             NaN                             NaN
3  BUILDING CLASS AT TIME OF SALE                      SALE PRICE
4                              A1                          215000

           Unnamed: 20
0                  NaN
1                  NaN
2                  NaN
3            SALE DATE
4  2023-04-18 00:00:00

[5 rows x 21 columns]
Brooklyn DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21253 entries, 0 to 21252
Data columns (total 21 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Brooklyn Rolling Sales.  All Sales From April 2023 - March 2024  21253 non-null  object
 1   Unnamed: 1                                                       21250 non-null  object
 2   Unnamed: 2                                                       21250 non-null  object
 3   Unnamed: 3                                                       21250 non-null  object
 4   Unnamed: 4                                                       21250 non-null  object
 5   Unnamed: 5                                                       21250 non-null  object
 6   Unnamed: 6                                                       1 non-null      object
 7   Unnamed: 7                                                       21250 non-null  object
 8   Unnamed: 8                                                       21250 non-null  object
 9   Unnamed: 9                                                       5390 non-null   object
 10  Unnamed: 10                                                      21249 non-null  object
 11  Unnamed: 11                                                      17590 non-null  object
 12  Unnamed: 12                                                      14280 non-null  object
 13  Unnamed: 13                                                      18601 non-null  object
 14  Unnamed: 14                                                      13269 non-null  object
 15  Unnamed: 15                                                      13269 non-null  object
 16  Unnamed: 16                                                      19915 non-null  object
 17  Unnamed: 17                                                      21250 non-null  object
 18  Unnamed: 18                                                      21250 non-null  object
 19  PTS Sales Data as of 04/12/2024                                  21250 non-null  object
 20  Unnamed: 20                                                      21250 non-null  object
dtypes: object(21)
memory usage: 3.4+ MB
None
  Brooklyn Rolling Sales.  All Sales From April 2023 - March 2024  \
0  For sales prior to the Final Roll, Neighborhoo...
1  Building Class Category is based on Building C...
2  Note: Condominium and cooperative sales are on...
3                                            BOROUGH
4                                                  3

     Unnamed: 1               Unnamed: 2            Unnamed: 3 Unnamed: 4  \
0           NaN                      NaN                   NaN        NaN
1           NaN                      NaN                   NaN        NaN
2           NaN                      NaN                   NaN        NaN
3  NEIGHBORHOOD  BUILDING CLASS CATEGORY  TAX CLASS AT PRESENT      BLOCK
4    BATH BEACH  01 ONE FAMILY DWELLINGS                     1       6360

  Unnamed: 5 Unnamed: 6                 Unnamed: 7          Unnamed: 8  \
0        NaN        NaN                        NaN                 NaN
1        NaN        NaN                        NaN                 NaN
2        NaN        NaN                        NaN                 NaN
3        LOT   EASEMENT  BUILDING CLASS AT PRESENT             ADDRESS
4         56        NaN                         A5  30 BAY 10TH STREET

         Unnamed: 9  ...        Unnamed: 11       Unnamed: 12  Unnamed: 13  \
0               NaN  ...                NaN               NaN          NaN
1               NaN  ...                NaN               NaN          NaN
2               NaN  ...                NaN               NaN          NaN
3  APARTMENT NUMBER  ...  RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS
4               NaN  ...                  1                 0            1

        Unnamed: 14        Unnamed: 15 Unnamed: 16                Unnamed: 17  \
0               NaN                NaN         NaN                        NaN
1               NaN                NaN         NaN                        NaN
2               NaN                NaN         NaN                        NaN
3  LAND SQUARE FEET  GROSS SQUARE FEET  YEAR BUILT  TAX CLASS AT TIME OF SALE
4              1547               1428        1930                          1

                      Unnamed: 18 PTS Sales Data as of 04/12/2024  \
0                             NaN                             NaN
1                             NaN                             NaN
2                             NaN                             NaN
3  BUILDING CLASS AT TIME OF SALE                      SALE PRICE
4                              A5                               0

           Unnamed: 20
0                  NaN
1                  NaN
2                  NaN
3            SALE DATE
4  2023-07-31 00:00:00

[5 rows x 21 columns]
Queens DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23461 entries, 0 to 23460
Data columns (total 21 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Queens Rolling Sales.  All Sales From April 2023 - March 2024  23461 non-null  object
 1   Unnamed: 1                                                     23458 non-null  object
 2   Unnamed: 2                                                     23458 non-null  object
 3   Unnamed: 3                                                     23458 non-null  object
 4   Unnamed: 4                                                     23458 non-null  object
 5   Unnamed: 5                                                     23458 non-null  object
 6   Unnamed: 6                                                     1 non-null      object
 7   Unnamed: 7                                                     23458 non-null  object
 8   Unnamed: 8                                                     23458 non-null  object
 9   Unnamed: 9                                                     3543 non-null   object
 10  Unnamed: 10                                                    23457 non-null  object
 11  Unnamed: 11                                                    18225 non-null  object
 12  Unnamed: 12                                                    15944 non-null  object
 13  Unnamed: 13                                                    18852 non-null  object
 14  Unnamed: 14                                                    15317 non-null  object
 15  Unnamed: 15                                                    15317 non-null  object
 16  Unnamed: 16                                                    22506 non-null  object
 17  Unnamed: 17                                                    23458 non-null  object
 18  Unnamed: 18                                                    23458 non-null  object
 19  PTS Sales Data as of 04/12/2024                                23458 non-null  object
 20  Unnamed: 20                                                    23458 non-null  object
dtypes: object(21)
memory usage: 3.8+ MB
None
  Queens Rolling Sales.  All Sales From April 2023 - March 2024    Unnamed: 1  \
0  For sales prior to the Final Roll, Neighborhoo...                      NaN
1  Building Class Category is based on Building C...                      NaN
2  Note: Condominium and cooperative sales are on...                      NaN
3                                            BOROUGH             NEIGHBORHOOD
4                                                  4              AIRPORT JFK

                  Unnamed: 2            Unnamed: 3 Unnamed: 4 Unnamed: 5  \
0                        NaN                   NaN        NaN        NaN
1                        NaN                   NaN        NaN        NaN
2                        NaN                   NaN        NaN        NaN
3    BUILDING CLASS CATEGORY  TAX CLASS AT PRESENT      BLOCK        LOT
4  31 COMMERCIAL VACANT LAND                     4      14260         80

  Unnamed: 6                 Unnamed: 7         Unnamed: 8        Unnamed: 9  \
0        NaN                        NaN                NaN               NaN
1        NaN                        NaN                NaN               NaN
2        NaN                        NaN                NaN               NaN
3   EASEMENT  BUILDING CLASS AT PRESENT            ADDRESS  APARTMENT NUMBER
4        NaN                         E1  N/A ROCKAWAY BLVD               NaN

   ...        Unnamed: 11       Unnamed: 12  Unnamed: 13       Unnamed: 14  \
0  ...                NaN               NaN          NaN               NaN
1  ...                NaN               NaN          NaN               NaN
2  ...                NaN               NaN          NaN               NaN
3  ...  RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET
4  ...                  0                 1            1            268092

         Unnamed: 15 Unnamed: 16                Unnamed: 17  \
0                NaN         NaN                        NaN
1                NaN         NaN                        NaN
2                NaN         NaN                        NaN
3  GROSS SQUARE FEET  YEAR BUILT  TAX CLASS AT TIME OF SALE
4                  0        2023                          4

                      Unnamed: 18 PTS Sales Data as of 04/12/2024  \
0                             NaN                             NaN
1                             NaN                             NaN
2                             NaN                             NaN
3  BUILDING CLASS AT TIME OF SALE                      SALE PRICE
4                              V7                               0

           Unnamed: 20
0                  NaN
1                  NaN
2                  NaN
3            SALE DATE

In [3]:
# Define URLs for each borough's sales data
URL_manhattan = "https://www.nyc.gov/assets/finance/downloads/pdf/rolling_sales/rollingsales_manhattan.xlsx"
URL_bronx = "https://www.nyc.gov/assets/finance/downloads/pdf/rolling_sales/rollingsales_bronx.xlsx"
URL_brooklyn = "https://www.nyc.gov/assets/finance/downloads/pdf/rolling_sales/rollingsales_brooklyn.xlsx"
URL_queens = "https://www.nyc.gov/assets/finance/downloads/pdf/rolling_sales/rollingsales_queens.xlsx"
URL_statenisland = "https://www.nyc.gov/assets/finance/downloads/pdf/rolling_sales/rollingsales_statenisland.xlsx"

# Load data from each URL into a dataframe, set the header from the fourth row (index 3), and drop rows with any NaN values
df_manhattan = pd.read_excel(URL_manhattan, header=4)
df_bronx = pd.read_excel(URL_bronx, header=4)
df_brooklyn = pd.read_excel(URL_brooklyn, header=4)
df_queens = pd.read_excel(URL_queens, header=4)
df_statenisland = pd.read_excel(URL_statenisland, header=4)

nyc_df = pd.concat([df_manhattan, df_bronx, df_brooklyn, df_queens, df_statenisland], ignore_index=True)
nyc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73595 entries, 0 to 73594
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         73595 non-null  int64
 1   NEIGHBORHOOD                    73595 non-null  object
 2   BUILDING CLASS CATEGORY         73595 non-null  object
 3   TAX CLASS AT PRESENT            73595 non-null  object
 4   BLOCK                           73595 non-null  int64
 5   LOT                             73595 non-null  int64
 6   EASEMENT                        0 non-null      float64
 7   BUILDING CLASS AT PRESENT       73595 non-null  object
 8   ADDRESS                         73595 non-null  object
 9   APARTMENT NUMBER                17095 non-null  object
 10  ZIP CODE                        73585 non-null  float64
 11  RESIDENTIAL UNITS               55360 non-null  float64
 12  COMMERCIAL UNITS                42726 non-null  float64
 13  TOTAL UNITS                     57687 non-null  float64
 14  LAND SQUARE FEET                40399 non-null  float64
 15  GROSS SQUARE FEET               40399 non-null  float64
 16  YEAR BUILT                      68559 non-null  float64
 17  TAX CLASS AT TIME OF SALE       73595 non-null  int64
 18  BUILDING CLASS AT TIME OF SALE  73595 non-null  object
 19  SALE PRICE                      73595 non-null  int64
 20  SALE DATE                       73595 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(8), int64(5), object(7)
memory usage: 11.8+ MB

In [8]:
# Specify the path to your JSON configuration file
config_file_path = 'config.json'

# Load the JSON configuration file
with open(config_file_path, 'r') as config_file:
    config = json.load(config_file)
    
CONNECTION_STRING_AZURE_STORAGE = 'connectionString'
CONTAINER_AZURE = 'nychousingsales'
blob_name = 'nychousingsales'

#Convert DATAFRAME to csv
output= StringIO()
nyc_df.to_csv(output, index=False)
data = output.getvalue()
output.close()

# Create the BlobServiceClient object
blob_service_client = BlobServiceClient.from_connection_string(CONNECTION_STRING_AZURE_STORAGE)

# Get a blob client using the container name and blob name
blob_client = blob_service_client.get_blob_client(container=CONTAINER_AZURE, blob=blob_name)

# Upload the CSV data
blob_client.upload_blob(data, overwrite=True)

print(f"Uploaded {blob_name} to Azure Blob Storage in container {CONTAINER_AZURE}.")

ValueError: Connection string is either blank or malformed.

Connection string not found in environment variables