In [1]:
import pandas as pd
import json

# Load JSON data
with open('/Users/nicholasnoto/Desktop/CIS 4400/Group Project/school_digger_AK_NE.json', 'r') as f:
    data1 = json.load(f)
with open('/Users/nicholasnoto/Desktop/CIS 4400/Group Project/SchoolDigger_NH_WY.json', 'r') as f:
    data2 = json.load(f)

# Convert to DataFrames
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Combine DataFrames
combined_df = pd.concat([df1, df2], ignore_index=True)

# Display the DataFrame
combined_df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,"{'Name': 'Central Middle School of Science', '...","{'Name': 'Chugach Optional Elementary', 'City'...","{'Name': 'Denali Montessori Elementary', 'City...",{'Name': 'Dr. Etheldra Davis - Fairview Elemen...,"{'Name': 'Government Hill Elementary', 'City':...","{'Name': 'Inlet View Elementary', 'City': 'Anc...","{'Name': 'PAIDEIA Cooperative School', 'City':...","{'Name': 'The New Path High School', 'City': '...",None,None,...,None,None,None,None,None,None,None,None,NaN,NaN
1,"{'Name': 'Chinook Elementary', 'City': 'Anchor...","{'Name': 'Dimond High School', 'City': 'Anchor...","{'Name': 'Gladys Wood Elementary', 'City': 'An...","{'Name': 'Kincaid Elementary', 'City': 'Anchor...","{'Name': 'Lumen Christi High School', 'City': ...","{'Name': 'Sand Lake Elementary', 'City': 'Anch...",None,None,None,None,...,None,None,None,None,None,None,None,None,NaN,NaN
2,"{'Name': 'Family Partnership Charter School', ...","{'Name': 'Frontier Charter School', 'City': 'A...","{'Name': 'Holy Rosary Academy', 'City': 'Ancho...","{'Name': 'North Star Elementary', 'City': 'Anc...","{'Name': 'Romig Middle School', 'City': 'Ancho...","{'Name': 'Steller Secondary School', 'City': '...","{'Name': 'Willow Crest Elementary', 'City': 'A...",None,None,None,...,None,None,None,None,None,None,None,None,NaN,NaN
3,{'Name': 'Alaska State School for Deaf and Har...,"{'Name': 'Anchorage STrEaM Academy', 'City': '...","{'Name': 'Anchorage Waldorf School', 'City': '...","{'Name': 'Bartlett High School', 'City': 'Anch...","{'Name': 'Baxter Elementary', 'City': 'Anchora...","{'Name': 'Chester Valley Elementary', 'City': ...","{'Name': 'Creekside Park Elementary', 'City': ...","{'Name': 'Highland Academy Charter', 'City': '...","{'Name': 'Mountain City Christian Academy', 'C...","{'Name': 'Muldoon Elementary', 'City': 'Anchor...",...,None,None,None,None,None,None,None,None,NaN,NaN
4,"{'Name': 'Ursa Major Elementary', 'City': 'Elm...","{'Name': 'Ursa Minor Elementary', 'City': 'Elm...",None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60951,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
60952,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
60953,"{'Name': 'Thayne Elementary', 'City': 'Thayne'...",None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
60954,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
60955,"{'Name': 'Alta Elementary', 'City': 'Alta', 'S...",None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None